body {
  background: #3a243b;
  background: -webkit-gradient(linear, right top, left top, from(#3a243b), to(#982717));
  background: linear-gradient(270deg, #3a243b 0%, #982717 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3a243b",endColorstr="#982717",GradientType=1);
}

.jumbotron {
  margin-top: 30px;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: -webkit-gradient(linear, left top, right top, from(#ccc), color-stop(#333), to(#ccc));
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.btn-outline-dark {
  margin-top: 10px;
  width: 200px;
}

.p-left {
  width: 50%;
}

p {
  text-align: justify;
  padding: 10px;
}
